@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.form-container .form-container-1{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
    margin-top: 10vh;
    border: 1px solid rgba(0,0,0,0.10);
}

.form-container{
    width: 400px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.form-control{
    font-size: 12px;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-size-8{
    font-size: 8px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-24{
    font-size: 24px;
}

.font-size-32{
    font-size: 32px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-64{
    font-size: 64px;
}

.table{
    background: #fff;
    border-radius: 15px;
}

.box-shadow-small{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.20);
}

.box-shadow-medium{
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.font-w-100{
    font-weight: 100;
}

.font-w-200{
    font-weight: 200;
}

.font-w-300{
    font-weight: 300;
}

.font-w-400{
    font-weight: 400;
}

.font-w-500{
    font-weight: 500;
}

.font-w-600{
    font-weight: 600;
}

.font-w-700{
    font-weight: 700;
}

.font-w-800{
    font-weight: 800;
}

.font-w-900{
    font-weight: 900;
}

.b-radius-5{
    border-radius: 5px;
}

.b-radius-10{
    border-radius: 10px;
}

.b-radius-15{
    border-radius: 15px;
}

.b-tl-radius-10{
    border-top-left-radius: 10px;
}

.b-tr-radius-10{
    border-top-right-radius: 10px;
}

.b-bl-radius-10{
    border-bottom-left-radius: 10px;
}

.b-br-radius-10{
    border-bottom-right-radius: 10px;
}

.c-nav{
    height: 42px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.10);
    width: 100%;
    padding-left:5vh;
    padding-right: 5vh;
}

.c-nav-item{
    display: inline-flex;
    align-items: center;
    width: 10%;
}

.c-nav-links{
    display: inline-flex;
    align-items: center;
    width: 80%;
}

.c-nav-links div{
    transition: .2s;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

}

.c-nav-links div:hover{
    color: #339DE9;
}
.c-nav-links div:active{
    transition: 0ms;
    color: #0a69ad;
}

.active{
    color: #339DE9;
}

.logo{
    cursor: pointer;
}
.btn{
    display: flex;
    height: 24px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 6px;
    align-items: center;
    justify-content: center;
}

.nav-name{
    display: flex;
    height: 24px;
    background: #ECECEC;
    padding: 0px 15px;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}