<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Logs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
    <body class="font-size-12">
        <!-- NAV -->
      <div class="c-nav d-flex font-w-600 mb-3">
    
        <div class="c-nav-item justify-content-start">
          <img src="/static/media/Group 117.svg" class="logo">
        </div>
    
        <div class="justify-content-center navbar">
          <div class="mx-3" onclick="location.href='#'">Dashboard</div>
          <div class="mx-3" onclick="location.href='/in'">In</div>
          <div class="mx-3" onclick="location.href='/out'">Out</div>
          <div class="mx-3" onclick="location.href='/transfer'">Transfer</div>
          <div class="mx-3" onclick="location.href='/spoilage'">Spoilage</div>
          <div class="mx-3" onclick="location.href='#'">Vendors</div>
          <div class="mx-3" onclick="location.href='/inventory-page'">Inventory</div>
          <div class="mx-3" onclick="location.href='/'">Warehouse</div>
          <div class="mx-3" onclick="location.href='#'">Reports</div>
          <div class="mx-3 active" onclick="location.href='/logs/in'">Logs</div>
          <div class="mx-3" onclick="location.href='#'">Customers</div>
          <div class="btn-group mx-3">
            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Approvals</span>
            <div class="dropdown-menu b-radius-5 py-0">
              <a href="/purchase/notapproved" class="dropdown-item font-size-12">Purchase</a>
              <a href="/sales/notapproved" class="dropdown-item font-size-12">Sales</a>
            </div>
          </div>
      </div>
    
        <div class="c-nav-item justify-content-end dropdown">
          <div class="nav-name" data-toggle="dropdown">
            <span>{{me.first_name}} {{me.last_name}}</span> <i class="fas fa-angle-down ml-1"></i>
          </div>
          <div class="dropdown-menu dropdown-menu-left b-radius-5 py-0">
            <div class="dropdown-header font-size-12">
                <span>{{me.first_name}} {{me.last_name}}</span><br>
                <span class="font-size-10 py-0">{{me.position}}</span>
            </div>
            <div class="dropdown-divider"></div>
            <a href="/logout" class="dropdown-item font-size-12">Logout</a>
          </div>
        </div>
        
      </div>
      <!-- END NAV -->
      <div class="d-flex font-w-600 mb-2 justify-content-center">
        <div class="justify-content-center c-nav-links">
            <div onclick="location.href='/logs/in'">In</div>
            <div onclick="location.href='/logs/out'">Out</div>
            <div onclick="location.href='/logs/transfer'" class="active">Transfer</div>
            <div onclick="location.href='/logs/spoilage'">Spoilage</div>
        </div>
        </div>  
    
        <div class="container font-w-600">
            <table id="table" class="table box-shadow-medium b-tl-radius-10 b-tr-radius-10">
                <thead class="thead-dark">
                <tr class="">
                    <th class="b-tl-radius-10" style="border-top: 0px;">Ref. No.</th>
                    <th style="border-top: 0px;">Date</th>
                    <th style="border-top: 0px;">New Warehouse</th>
                    <th style="border-top: 0px;">Items</th>
                </tr>
                </thead>
                <tbody>
                {%for transfer in transfers.all%}
                <tr>
                    <td>{{transfer.ref_id}}</td>
                    <td>{{transfer.date}}</td>
                    <td>{{transfer.warehouse.name}}</td>
                    <td>
                      {%for item in transfer.transfer_item_set.all%}
                      <span class="font-w-300">{{item.product.code}}</span> <span>{{item.product.name}}</span><br/>
                      {%endfor%}
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
</body>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.flash.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    $(document).ready(function() {
      $('#table').DataTable({
        language: { search: '', searchPlaceholder: 'Search'},
        dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        buttons: {
          buttons: [
          {
            text: '<i class="fas fa-file-excel"></i>',
            className: 'btn btn-success',
            titleAttr: 'Export Excel',
            extend: 'excel'
          },
          {
            text: '<i class="fas fa-file-csv"></i>',
            className: 'btn btn-danger',
            titleAttr: 'Export CSV',
            extend: 'csv'
          },
          {
            text: '<i class="fas fa-print"></i>',
            className: 'btn btn-secondary',
            titleAttr: 'Print',
            extend: 'print'
          }
        ],
          dom: {
            button: {
              className: 'btn'
            }
          }
        }
      });
  } );
</script>
</html>