{% load static %}
{% load decimal2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Level |{{branch.name}} | Cost of Goods Sold</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fontawesome.all.css">
    <script src="/static/js/nav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/static/js/vue-components.js"></script>


</head>
<body class="font-size-12">
    <div id="sidebar-component">
        <sidebar active='branch'></sidebar>
    </div>
    <div id="main">
       <!-- NAVBAR -->
        <div class="c-nav d-flex font-w-600 mb-3">
            <!-- LEFT -->
            <div class="c2-nav-item justify-content-start">
                <span class="font-size-14">{{branch.name}}</span>
            </div>
            <!-- END LEFT -->

            <!-- CENTER -->
            <script>
                new NavBC2('reports', '{{branch.pk}}')
            </script>
            <!-- END CENTER -->
            <!-- RIGHT -->
            <script>
                new NavN2('{{me.first_name}}', '{{me.last_name}}', '{{me.branch.name}}', '{{me.position}}')
            </script>
            <!-- END RIGHT -->
        </div>
        <!-- END NAVBAR -->
        <script>
            new NavReportsTL('costofgoodsold', '{{branch.pk}}')
        </script>

        <div class="container">    
            <div id="loader-container" class="d-flex justify-content-center align-items-center">
                <div id="loader"></div>
            </div>
            <table id="table" class="table box-shadow-medium b-tl-radius-10 b-tr-radius-10">
                <thead class="thead-dark">
                <tr class="">
                    <th class="b-tl-radius-10" style="border-top: 0px;">Item Code</th>
                    <th style="border-top: 0px;">Item Name</th>
                    <th style="border-top: 0px;">Quantity Sold</th>
                    <th class="b-tr-radius-10" style="border-top: 0px;">Cost of Goods Sold</th>
                </tr>
                </thead>
                <tbody>
                {% for item in branch.product.all %}
                <tr>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    {% if item.quantity_sold.total == None %}
                    <td>0</td>
                    {% else %}
                    <td>{{item.quantity_sold.total}}</td>
                    {% endif %}
        
                    {% if item.cost_sold.total == None%}
                    <td>₱0.00</td>
                    {% else %}
                    <td class="font-w-600">₱{{item.cost_sold.total|decimal}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.flash.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>

{% load sweetify %}
{% sweetify %}

<!-- DATATABLES -->
<script>
  $(document).ready(function() {
    $('#table').DataTable({
      language: { search: '', searchPlaceholder: 'Search'},
      dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      buttons: {
        buttons: [
        {
          text: '<i class="fas fa-file-excel"></i>',
          className: 'btn text-success',
          titleAttr: 'Export Excel',
          extend: 'excel'
        },
        {
          text: '<i class="fas fa-file-csv"></i>',
          className: 'btn text-warning',
          titleAttr: 'Export CSV',
          extend: 'csv'
        },
        {
          text: '<i class="fas fa-print"></i>',
          className: 'btn',
          titleAttr: 'Print',
          extend: 'print'
        }
      ],
        dom: {
          button: {
            className: 'btn'
          }
        }
      },
      "initComplete": function(){
        $("#loader-container").hide()
        $("#loader").hide()
        $('#table').show()
      }
    });
} );
</script>
<!-- END DATATABLES -->
<script>
    $(function(){
        var b = $('#branch')
        var w = $('#wrapper')
        var l = $('#list')
        b.click(function() {

            if (w.hasClass('open')) {
              w.removeClass('open');
              w.height(0);
            } else {
              w.addClass('open');
              w.height(l.outerHeight(true));
            }
        
          });
    })
</script>

<script>
  new Vue({
    el: '#sidebar-component'
  })
</script>
</html>